*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color:pink;
    background:linear-gradient(72deg,#f6df8c,#f034b8);
}
.wrap{
    width: 430px;
    background: rgb(245, 232, 232);
    border-radius: 10px;
}
.wrap h1{
    font-size: 25px;
    font-weight: 500;
    padding: 20px 25px;
    border-bottom: 1pz solid #ccc;
}
.wrap .container{
    margin: 25px 25px 35px;
}
.container .typing-input{
    opacity: 0;
    z-index: -999;
    position: absolute;
}
.container .inputs{
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
}
.inputs input{
    height: 57px;
    width: 56px;
    margin: 4px;
    font-weight: 500;
    font-size: 24px;
    background: none;
    text-align: center;
    color:palevioletred;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.inputs input:first-child{
    margin-left: 0px; 
}
.container .details{
    margin: 20px 0 25px;
}
.details p{
    font-size: 20px;
    margin-bottom: 10px;
}
.container .reset-btn{
    width: 100%;
    outline: none;
    border: none;
    font-size: 19px;
    padding: 15px 0;
    cursor: pointer;
    color: #fff;
    background:linear-gradient(75deg,#f861cb,#f6df8c);
}